

.CourseSelection, .Homepage, .FirstYearTips, .Extracurriculars, .LifeAtDuke, .WorkStudyResearch, .Internships {
    font-family: "Source Sans Pro", sans-serif;
}

ul {
    list-style-type: none;
    height: 48px;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #c9ddff
}

li {
    float: left;
}
body {
    margin: 0;
} 

button {
    font: #000;
    font-size: 24px;
    display: block;
    text-align: left;
    text-decoration: none;
    line-height: 1.8;
    padding-left: 70px;
    padding-right: 70px;
    box-shadow: none;
    border-radius: 0;
    border: none;
    background-color: #c9ddff
}

 button:hover{
    background-color: #9ebff7;
}


